.small-button {
    margin: 40px;
    border: 90px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 166px;
    height: 54px;
    background-color: #003146;
    font-size: 14px;
    font-weight: 600;
    font: Inter;
    display: flex;
    align-items: center;
    align-self: center;

    justify-content: center;
    color: white;
    border-radius: 90px;
}

.big-button {
    margin: 40px;
    margin-left: 300px;
    border: 92px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 264px;
    height: 65px;
    background-color: #003146;
    font-size: 32px;
    font-weight: 400;
    font: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}